@model PhotographySite.Dto.Response.LookupsResponse

@{
    ViewData["Title"] = "Photos Catalogue";
}

<h5>@ViewData["Title"]</h5>
 
<div id="photo-catalogue-alert" class="row"></div>

<div id="photos-grid-container" class="row">
    <div class="col">     
        <div id="catalog-photos-grid"></div>      
        <div class="pagination-holder black clearfix">
            <ul id="photo-catalogue-results-pagination" class="pagination dark-theme simple-pagination text-center justify-content-center"></ul>
        </div>         
    </div>
</div>

<input type="hidden" id="selected-photo-id" value="2" /> 

@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script type="module" src="~/js/min/admin-photo-catalogue.min.js" asp-append-version="true"></script>
}

@await Html.PartialAsync("../Shared/PhotoModal")