@{
    ViewData["Title"] = "Montage Manager";
}

@model PhotographySite.Dto.Response.MontagesResponse

<div class="row">     
    <h5>@ViewData["Title"]</h5>
</div> 

<div class="draggable-main row container">

    @{
        int index = 1;
    }

    @foreach (var column in Model.MontageImagesColumns)
    {
        var id = "monatageColumn" + @index;
        var ulId = "monatageColumn" + @index + "List";

        <div id="@id" data-column="@index" class="column">
            <ul id="@ulId" class="connected-sortable draggable-left">
                @await Html.PartialAsync("_MontageList", Model.MontageImagesColumns[index-1])
            </ul>
        </div>

        index++;
    }    
</div>
 
<div id="context-menu" class="context-menu" style="display: none">
    <ul class="menu">
        <li data-id="0"><a href="#">Landscape</a></li>
        <li data-id="1"><a href="#">Portrait</a></li>
        <li data-id="2"><a href="#">Square</a></li>
    </ul>
</div>

<input type="hidden" id="selected-montage-id" value="1" />

@section Scripts
{
    <script type="module" src="~/js/min/admin-montage.min.js" asp-append-version="true"></script>
}