@{
    Layout = "_LayoutAccount";
}

<div class="bg-white border rounded-5">
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
        <div style="width: 26rem;">
            <div class="tab-content">
                <h2 class="bg-danger mb-1 p-2 text-white">Access Denied</h2>
                <p>@Html.ActionLink("Log in", "Login")</p>
            </div>
        </div>
    </section>
</div>

@section Scripts
{

}