@{
    Layout = "_LayoutAccount";
}

<div>
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
        <div style="width: 100%;">
            <div class="tab-content">
                <h2 class="bg-danger mb-1 p-2 text-white">Access Denied</h2>
                <p style="float: right!important;font-size: 1.25rem;">@Html.ActionLink("Log in", "Login")</p>
            </div>
        </div>
    </section>
</div>

@section Scripts
{

}