<h2>Authentication with Identity</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account", new { area = "Admin" }, FormMethod.Post))
    {
    <input type="submit" class="btn btn-default" value="Log out" />
  }
}
else
{
    <p>@Html.ActionLink("Register", "Register", new { area = "admin" })</p>
    <p>@Html.ActionLink("Log in", "Login", new { area = "admin" })</p>
}
<p>@Html.ActionLink("Home", "Index", "Home", new { area = "admin" })</p>


@section Scripts
{

}