@using PhotographySite.Areas.Site.Services.Interfaces
@using PhotographySite.Dto.Request
@inject IGalleryService galleryService
@inject IUserGalleryService userFavouriteService
@{ 
	var menuBarRequest = new MenuBarRequest()
	{
		Galleries = await galleryService.GetGalleriesAsync(),
		UserGalleries = await userFavouriteService.GetUserGalleriesAsync(Context.Request.HttpContext)
	};
}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="keywords" content="htmlcss bootstrap menu, navbar, hover nav menu CSS examples" />
	<meta name="description" content="Bootstrap 5 navbar hover examples for any type of project, Bootstrap 5" />
	<title>JWM Photography - @ViewData["Title"]</title>  
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
	<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
	<link rel="stylesheet" href="~/css/min/site.min.css" />
</head>
<body>	
	<div class="h-100 d-flex align-items-center justify-content-center">        	 
        <div class="container">
			@await Html.PartialAsync("Menubar", menuBarRequest) 
		    @RenderBody()	 
		</div>
	</div>

	@*@if (User.Identity.IsAuthenticated)
	{ *@
		@await Html.PartialAsync("_ModalMessage")
	@*}*@

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery/dist/jquery-ui.min.js"></script> 
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>		
	@RenderSection("scripts")
</body>
</html>