@{
    ViewData["Title"] = "401 Error";
}

<div class="not-found-message-container">
    <h1>Unauthorised Access</h1>
</div>

@section Scripts
{
    <script type="module" src="~/js/min/site-error.min.js" asp-append-version="true"></script>     
}