<div class="modal" id="edit-user-gallery-name-modal" tabindex="-1" aria-labelledby="edit-user-gallery-name-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title" id="edit-user-gallery-name-modal-label">User Favourite Name</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div id="edit-user-gallery-name-alerts" class="row"> 
            </div>
            <div class="row">
                <div class="col-12 input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">User Favourite Name</span>
                    <input type="text" id="edit-user-gallery-name" class="form-control" aria-label="FavouriteName" aria-describedby="basic-addon1">
                </div> 
            </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="save-user-gallery-name" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>