@model PhotographySite.Areas.Site.Dto.Response.UserGalleryResponse

@{
    if(Model.Name == null)
    {
        ViewData["Title"] = "Favourite Not Found";
    }
    else
    {
        ViewData["Title"] = "User Favourite (" + @Model.Name + ")";
    }
}
 
<div>
    <h3 class="page-title">
        @ViewData["Title"]
    </h3> 
</div>
 
<div id="user-gallery-images"> 
    @await Html.PartialAsync("_UserGalleryPhotos", Model) 
</div>

@if (User.Identity.IsAuthenticated)
{
    <div id="context-menu" class="context-menu" style="display: none">
        <ul class="menu">
            <li data-id="0"><a href="#">Add to Favourites</a></li>
        </ul>
    </div> 
}
 
@section Scripts
{ 
    @if (User.Identity.IsAuthenticated)
    {
        <script type="module" src="~/js/min/site-gallery-logged-in.min.js" asp-append-version="true"></script>
    }
    else
    {
        <script type="module" src="~/js/min/site-gallery.min.js" asp-append-version="true"></script>
    }
} 