<div class="modal" id="delete-gallery-modal" tabindex="-1" aria-labelledby="delete-gallery-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title" id="delete-gallery-modal-label">Delete Favourite</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="delete-gallery-alerts" class="row">
        </div>
        <div class="input-group mb-3">
              <p>Are you sure you want to delete this gallery?</p>
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="delete-gallery" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div> 