<div class="modal" id="new-gallery-modal" tabindex="-1" aria-labelledby="new-gallery-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title" id="new-gallery-modal-label">New Favourite</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">         
        <div id="new-gallery-alert" class="row">
        </div>        
        <div class="row">
            <div class="col-12 input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Favourite Name</span>
                <input type="text" id="new-gallery-name" class="form-control" aria-label="FavouriteName" aria-describedby="basic-addon1">
            </div> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="save-new-gallery" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>