@using PhotographySite.Areas.Admin.Services.Interfaces
@inject IGalleryService galleryService
@{
    var galleries = await galleryService.GetGalleriesAsync();
}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="keywords" content="htmlcss bootstrap menu, navbar, hover nav menu CSS examples" />
	<meta name="description" content="Bootstrap 5 navbar hover examples for any type of project, Bootstrap 5" />  
	<title>JWM Photography (Admin) - @ViewData["Title"]</title>    
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
	<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet"> 
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"> 
	<link rel="stylesheet" href="~/css/min/admin.min.css" /> 
</head>
<body> 
    <div class="container">
        <div class="row">
			<div class="col col-sm-4 col-lg-2 menu-column">
				@await Html.PartialAsync("Menubar", galleries) 
            </div>
			<div class="col col-sm-8 col-lg-10 work-area" id="work-area">
				@RenderBody()
            </div>
            
        </div>
    </div> 
  
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery/dist/jquery-ui.min.js"></script>   
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> 
	<script src="~/lib/lightboxed/lightbox.js"></script>
	@RenderSection("scripts")	
</body>
</html>